* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url(bgimage5.png);
    z-index: 0;
    height: 1000px;
}

.navbar a:hover {
    background-color: #80471C;
    color: #FFF;
    border-radius: 10%;
    opacity: 80%;

}

.navbar-brand img {
    height: 110px;
    width: 170px;
    border-radius: 50%;
}

#logo:hover {
    background-color: #ffffff00 !important;
    opacity: 50%;
}

.navbar {
    font-weight: bold;
    background-color: #c8954C;
}

.navbar a {
    color: Black;
    font-size: 20px;
}

.home-content {
    opacity: 100%;
}